html, body {
  height: 100%;
}

#dropbox-logo-nav {
  max-height: 32px;
  max-width: 32px;
  vertical-align: middle;
  object-fit: contain;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 25px;
}

.back-arrow {
  margin-bottom: -17px;
  font-weight: bold;
  margin-left: -8px;
}

#dropbox-logo {
  z-index: 4;
  max-height: 46px;
  max-width: 46px;
  vertical-align: middle;
  object-fit: contain;
  display: inline-block;
}

#dropbox-logo-text {
  z-index: 3;
  max-height: 34px;
  max-width: 120px;
  vertical-align: middle;
  display: inline-block;
  background: no-repeat center center;
  position: relative;
  top: 2px;
  margin-left: 8px;
}

#login-header {
  box-shadow: 0 2px 2px #d0d4d9;
}

#dropbox-sign-in-img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 85px;
  margin-top: 60px;
  margin-bottom: 110px;
}

#sign-in-div, #sign-up-div {
  max-width: 350px;
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.form-body {
  margin-top: 15px;
}

.form-header {
  display: inline-block;
  float: left;
  font-size: 24px;
  font-weight: normal;
}

.form-switch {
  padding-top: 10px;
  display: inline-block;
  float: right;
  font-size: 14px;
  font-weight: normal;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
}

#alert-div {
  font-size: 14px;
  padding: 4px;
  display: inline-block;
}

#alert-text-div {
  float: left;
  position: relative;
}

#alert-close-btn {
  font-size: 18px;
  position: absolute;
  margin-right: 0;
  margin-bottom: 0;
}

#alert-close-btn-div {
  float: right;
  position: relative;
}

.fill {
  min-height: 100%;
  height: 100%;
}

.fill-85 {
  min-height: 85%;
  height: 85%;
}

.fill-15 {
  min-height: 15%;
  height: 15%;
}

#nav-left {
  background-color: #f7f9fa;
  padding-left: 25px;
  font-size: 17px;
  min-height: 100%;
}

.alert-container {
  margin-top: 95px;
}

#main-body {

}

#main-header {
  padding: 40px 45px;
  background-color: white;
}

#main-content-left {
  padding-right: 0;
  padding-left: 45px;
  padding-top: 5px;
  font-size: 14px;
  margin-top: 65px;
}

#main-content-right {
  padding: 45px;
  margin-top: 65px;
}

#page-heading {
  font-size: x-large;
}

#userDropdownMenuLink {
  height: 36px;
  width: 36px;
  text-align: center;
  padding: 0.4rem 0;
  font-weight: bold;
}

#userDropdownMenuItems {
  box-shadow: 0 2px 2px #d0d4d9;
}

.lead-modified {
  font-size: 14px;
}

.folder-icon, .file-icon {
  color: #92ceff;
  font-size: 38px;
  margin-bottom: 3px;
}

.star-icon {
  font-size: 18px;
  margin-bottom: -9px;
}

.option-icon {
  font-size: 22px;
  margin-bottom: -7px;
}

.option-icon-btn {
  margin: 0;
  padding: 0;
}

.share-icon {
  margin-bottom: -12px;
}

.share-btn {
  margin-bottom: -12px;
}

.text-icon-secondary {
  color: #3ba0f3;
}

.directory-div, .file-div, .activity-div {
  padding: 0 20px 0 20px;
}

.material-icons {
  vertical-align: middle !important;
}

#upload-file-btn {
  display: none;
}

.new-folder-icon {
  margin-bottom: 5px;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pie-chart {
  max-width: 300px;
  max-height: 300px;
}
